extends includes/layout.pug
block content
  -let background = (page.background) ? page.background : theme.thumbnail.default;
  -let thumbnail_modifier = (page.background) ? '--thumbnail' : '';

  div(class="article__bg")
  
  img(class="article__header-img", src=page.thumbnail.url_hq width="100%" height="100%")
  
  div(class="article__bar", style={background: background} )

  div(class="article__header" data-aos="fade-down")


    if page.tags.length > 0 
    div(class="article__header--tags" style={color: background})
      !=list_tags(page.tags, {show_count: false, class: 'tags', style: 'list', separator: ''})

    div(class="article__header--date")
      !=date(page.date, date_format)
        
    h1(class="article__header--title")= page.title
    
    p(class='article__header--description')=page.description

    //div(class="article__header--links")
      if page.github
        a(class="header-link", href=page.github)
          !='Github'
      if page.heroku
        a(class="header-link", href=page.heroku)
          !='Heroku'


  div(class="article__content")
    div(class="article-container" data-aos="fade-down" data-aos-delay="200")
      !=page.content
              


  

    
