div(class="contact")
  section
    
    img(class='avatar' src='/img/avatar.jpg' data-aos='aos-fade-text' data-aos-anchor=".contact section h1" data-aos-delay=0)
    h1(data-aos='aos-fade-text' data-aos-anchor=".contact section h1" data-aos-delay=50)!="Do you have any questions? <br> I am happy to help!"
    p(data-aos='aos-fade-text' data-aos-anchor=".contact section h1" data-aos-delay=100)!="Here you can find some ways of contacting me as well as links to my work. The repositories withe the showed projects are public and are free to use. If you have any questions regarding my work, let me know."

    div(class="button-container" data-aos='aos-fade-text' data-aos-anchor=".contact section h1" data-aos-delay=300)
      a(class='button--secondary' href='#' )!='Contact'
    div(class="sns-container" data-aos-anchor=".contact section h1" data-aos='aos-fade-text' data-aos-delay=350)
      each values, label in theme.sns
        if values.url 
          a(class="sns-link" href=values.url data-tooltip=values.tooltip)
            ion-icon(name=values.icon)
    
  div(class="section-bg")


